FROM alpine/git:v2.24.1

ENV MOLSTAR_VERSION v0.5.6

WORKDIR /
RUN git clone https://github.com/molstar/molstar.git /src/molstar && \
    cd /src/molstar && \
    git checkout "${MOLSTAR_VERSION}"

FROM node:stretch-slim
MAINTAINER Philippe Noel <philippe.bs.noel@tutanota.com>

ENV MOLSTAR_PORT 3890
ENV MOLSTAR_USER classic_user

COPY --from=0 /src /src

SHELL ["/bin/bash", "-c"]

WORKDIR /src/molstar
RUN adduser --gecos "" --disabled-password "${MOLSTAR_USER}" && \
    npm install && \
    npm install -g http-server && \
    chown -R "${MOLSTAR_USER}:${MOLSTAR_USER}" /src

USER "${MOLSTAR_USER}"
RUN NODE_ENV=production && \
    npm run build

WORKDIR /src/molstar/build/viewer/
EXPOSE 3890

ENTRYPOINT http-server . -p ${MOLSTAR_PORT}
